.VisuelQuestion {
  display: flex;
  justify-content: center;
}

.PochetteAlbum {
  width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  
}

.infos {
  width: 30%;
  height: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.TitrePlaylist {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-top: 0;
}