

.description{
  top: 200px;
  font-size: 20px;
  text-align: justify;
  text-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  min-height: 100%;
  overflow: auto;
}

.description img{
  width: 110px
}

.logosmusique{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}